@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    overflow: hidden !important;
    width: 100vw;
    left: 100vh;
}

span{
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box !important;
}